@model ShopMyPham.ModelViews.ChangePasswordViewModel
<form asp-controller="Accounts" asp-action="ChangePassword" method="post">
    <div class="row mb-3">
        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
        <div class="col-md-8 col-lg-9"> <input asp-for="PasswordNow" name="password" type="password" class="form-control" id="currentPassword"></div>
    </div>
    <div class="row mb-3">
        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
        <div class="col-md-8 col-lg-9"> <input asp-for="Password" name="newpassword" type="password" class="form-control" id="newPassword"></div>
    </div>
    <div class="row mb-3">
        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu mới</label>
        <div class="col-md-8 col-lg-9"> <input asp-for="ConfirmPassword" name="renewpassword" type="password" class="form-control" id="renewPassword"></div>
    </div>
    <div class="text-center"> <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button></div>
</form>