@model ShopMyPham.ModelViews.HomeViewVM
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> allProduct = ViewBag.AllProducts;
}
@*<h1>ádsđsd</h1>

<div class="product-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                        @await Html.PartialAsync("_ListProductPartialView", allProduct)
                    @foreach (var item in Model.Products)
                    {
                        
                            @await Html.PartialAsync("_ListProductPartialView", item.lsProducts)
                       
                    }
            </div>
        </div>
    </div>
</div>

*@
    <section>
        <div class="slick-slider hero"
             data-slick-options="{&#34;arrows&#34;:false,&#34;autoplay&#34;:true,&#34;cssEase&#34;:&#34;ease-in-out&#34;,&#34;dots&#34;:false,&#34;fade&#34;:true,&#34;infinite&#34;:true,&#34;slidesToShow&#34;:1,&#34;speed&#34;:600}">
            <div class="bg-image py-17 py-lg-24"
                 data-bg-src="./assets/images/hero-slider-01.jpg">
                <div class="container container-xxl pt-10 pb-11">
                    <p class="text-dark mb-8 text-uppercase fw-semibold fs-15px">
                        Essenstial Items
                    </p>
                    <h1 class="mb-7 hero-title">
                        Beauty Inspired <br />
                        by Real Life
                    </h1>
                    <p class="hero-desc fs-18px mb-11">
                        Made using clean, non-toxic ingredients, our products are
                        designed for everyone.
                    </p>
                    <a href="#"
                       class="btn btn-dark rounded btn-hover-bg-primary border-0">
                        Shop Now
                    </a>
                </div>
            </div>
            <div class="bg-image py-17 py-lg-24"
                 data-bg-src="./assets/images/hero-slider-02.jpg">
                <div class="container container-xxl pt-10 pb-11">
                    <p class="text-dark mb-8 text-uppercase fw-semibold fs-15px">
                        New collection
                    </p>
                    <h1 class="mb-7 hero-title">
                        Get The Perfectly <br />
                        Hydrated Skin
                    </h1>
                    <p class="hero-desc fs-18px mb-11">
                        Made using clean, non-toxic ingredients, our products are
                        designed for everyone.
                    </p>
                    <a href="#"
                       class="btn btn-dark rounded btn-hover-bg-primary border-0">
                        Shop Now
                    </a>
                </div>
            </div>
            <div class="bg-image py-17 py-lg-24"
                 data-bg-src="./assets/images/hero-slider-03.jpg">
                <div class="container container-xxl pt-10 pb-11">
                    <p class="text-dark mb-8 text-uppercase fw-semibold fs-15px">
                        Get the glow
                    </p>
                    <h1 class="mb-7 hero-title">
                        Be Your <br />
                        Kind of Beauty
                    </h1>
                    <p class="hero-desc fs-18px mb-11">
                        Made using clean, non-toxic ingredients, our products are
                        designed for everyone.
                    </p>
                    <a href="#"
                       class="btn btn-dark rounded btn-hover-bg-primary border-0">
                        Shop Now
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container-xxl py-17">
            <div class="text-center mb-13 pb-3">
                <h2 class="mb-5">Our Featured Products</h2>
                <p class="fs-18px mb-0">Get the skin you want to feel</p>
            </div>
            <div class="slick-slider"
                 data-slick-options="{&#34;arrows&#34;:true,&#34;dots&#34;:false,&#34;responsive&#34;:[{&#34;breakpoint&#34;:1560,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true}},{&#34;breakpoint&#34;:1200,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:3}},{&#34;breakpoint&#34;:992,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:2}},{&#34;breakpoint&#34;:576,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:1}}],&#34;slidesToShow&#34;:4}"
                 data-animate="fadeInUp">
                <div>
                    <div class="card card-product grid-1 bg-transparent border-0">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden">
                            <a href="#"
                               class="hover-zoom-in d-block"
                               title="Shield Conditioner">
                                <img data-src="./assets/images/products/product-01-330x440.jpg"
                                     class="img-fluid lazy-image w-100"
                                     alt="Shield Conditioner"
                                     width="330"
                                     height="440" />
                            </a>
                            <div class="position-absolute product-flash z-index-2">
                                <span class="badge badge-product-flash on-sale bg-primary">-25%</span>
                            </div>
                            <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <svg class="icon icon-shopping-bag-open-light">
                                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <svg class="icon icon-eye-light">
                                        <use xlink:href="#icon-eye-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Add To Wishlist">
                                    <svg class="icon icon-star-light">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <svg class="icon icon-arrows-left-right-light">
                                        <use xlink:href="#icon-arrows-left-right-light"></use>
                                    </svg>
                                </a>
                            </div>
                        </figure>
                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">
                                <del class="text-body fw-500 me-4 fs-13px">$40</del>
                                <ins class="text-decoration-none">$30</ins>
                            </span>
                            <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="#">Shield Conditioner</a>
                            </h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="rate text-primary fs-14px d-flex align-items-center">
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star-o">
                                        <use xlink:href="#star-o"></use>
                                    </svg>
                                    <svg class="icon star-o">
                                        <use xlink:href="#star-o"></use>
                                    </svg>
                                </span>
                                <span class="reviews ms-4">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card card-product grid-1 bg-transparent border-0">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden">
                            <a href="#" class="hover-zoom-in d-block" title="Perfecting Facial Oil">
                                <img data-src="./assets/images/products/product-02-330x440.jpg" class="img-fluid lazy-image w-100" alt="Perfecting Facial Oil" width="330" height="440" />
                            </a>
                            <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                    <svg class="icon icon-shopping-bag-open-light">
                                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                    <svg class="icon icon-eye-light">
                                        <use xlink:href="#icon-eye-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                    <svg class="icon icon-star-light">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                    <svg class="icon icon-arrows-left-right-light">
                                        <use xlink:href="#icon-arrows-left-right-light"></use>
                                    </svg>
                                </a>
                            </div>
                        </figure>
                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">$20</span>
                            <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="#">Perfecting Facial Oil</a>
                            </h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="rate text-primary fs-14px d-flex align-items-center">
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </span>
                                <span class="reviews ms-4">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card card-product grid-1 bg-transparent border-0">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden">
                            <a href="#" class="hover-zoom-in d-block" title="Enriched Hand &amp; Body Wash">
                                <img data-src="./assets/images/products/product-03-330x440.jpg" class="img-fluid lazy-image w-100" alt="Enriched Hand &amp; Body Wash" width="330" height="440" />
                            </a>
                            <div class="position-absolute product-flash z-index-2">
                                <span class="badge badge-product-flash on-new">New</span>
                            </div>
                            <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                    <svg class="icon icon-shopping-bag-open-light">
                                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                    <svg class="icon icon-eye-light">
                                        <use xlink:href="#icon-eye-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                    <svg class="icon icon-star-light">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                    <svg class="icon icon-arrows-left-right-light">
                                        <use xlink:href="#icon-arrows-left-right-light"></use>
                                    </svg>
                                </a>
                            </div>
                        </figure>
                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">$29</span>
                            <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="#">Enriched Hand &amp; Body Wash</a>
                            </h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="rate text-primary fs-14px d-flex align-items-center">
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </span>
                                <span class="reviews ms-4">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card card-product grid-1 bg-transparent border-0">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden">
                            <a href="#" class="hover-zoom-in d-block" title="Shield Shampoo">
                                <img data-src="./assets/images/products/product-04-330x440.jpg" class="img-fluid lazy-image w-100" alt="Shield Shampoo" width="330" height="440" />
                            </a>
                            <div class="position-absolute product-flash z-index-2">
                                <span class="badge badge-product-flash on-sale bg-primary">-24%</span>
                            </div>
                            <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <svg class="icon icon-shopping-bag-open-light">
                                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <svg class="icon icon-eye-light">
                                        <use xlink:href="#icon-eye-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Add To Wishlist">
                                    <svg class="icon icon-star-light">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <svg class="icon icon-arrows-left-right-light">
                                        <use xlink:href="#icon-arrows-left-right-light"></use>
                                    </svg>
                                </a>
                            </div>
                        </figure>
                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">
                                <del class="text-body fw-500 me-4 fs-13px">$25</del>
                                <ins class="text-decoration-none">$19</ins>
                            </span>
                            <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="#">Shield Shampoo</a>
                            </h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="rate text-primary fs-14px d-flex align-items-center">
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star-o">
                                        <use xlink:href="#star-o"></use>
                                    </svg>
                                    <svg class="icon star-o">
                                        <use xlink:href="#star-o"></use>
                                    </svg>
                                </span>
                                <span class="reviews ms-4">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card card-product grid-1 bg-transparent border-0">
                        <figure class="card-img-top position-relative mb-7 overflow-hidden">
                            <a href="#" class="hover-zoom-in d-block" title="Enriched Hand Wash">
                                <img data-src="./assets/images/products/product-05-330x440.jpg" class="img-fluid lazy-image w-100" alt="Enriched Hand Wash" width="330" height="440" />
                            </a>
                            <div class="position-absolute product-flash z-index-2">
                                <span class="badge badge-product-flash on-sale bg-primary">-26%</span>
                            </div>
                            <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Add To Cart">
                                    <svg class="icon icon-shopping-bag-open-light">
                                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Quick View">
                                    <svg class="icon icon-eye-light">
                                        <use xlink:href="#icon-eye-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Add To Wishlist">
                                    <svg class="icon icon-star-light">
                                        <use xlink:href="#icon-star-light"></use>
                                    </svg>
                                </a>
                                <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                   href="#"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="Compare">
                                    <svg class="icon icon-arrows-left-right-light">
                                        <use xlink:href="#icon-arrows-left-right-light"></use>
                                    </svg>
                                </a>
                            </div>
                        </figure>
                        <div class="card-body text-center p-0">
                            <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">
                                <del class="text-body fw-500 me-4 fs-13px">$39</del>
                                <ins class="text-decoration-none">$29</ins>
                            </span>
                            <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                <a class="text-decoration-none text-reset" href="#">Enriched Hand Wash</a>
                            </h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="rate text-primary fs-14px d-flex align-items-center">
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="icon star-o">
                                        <use xlink:href="#star-o"></use>
                                    </svg>
                                    <svg class="icon star-o">
                                        <use xlink:href="#star-o"></use>
                                    </svg>
                                </span>
                                <span class="reviews ms-4">2947 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container container-xxl">
        <div class="row gy-30px">
            <div class="col-lg-6" data-animate="fadeInUp">
                <div class="card border-0 rounded-0 banner-01 hover-zoom-in hover-shine">
                    <img class="card-img object-fit-cover" width="690 " height="420" src="./assets/images/banner-01.jpg" alt="Intensive Glow C&#43; Serum" />
                    <div class="card-img-overlay d-inline-flex flex-column p-md-12 m-md-2 p-8">
                        <h6 class="card-subtitle ls-1 fs-18px mb-4 fw-semibold">
                            NEW COLLECTION
                        </h6>
                        <h3 class="card-title lh-45px mw-md-60 pe-xl-15 fs-34px pe-0">
                            Intensive Glow C&#43; Serum
                        </h3>
                        <div class="mt-7">
                            <a href="#" class="btn btn-light border-0 btn-hover-bg-dark btn-hover-border-dark btn-hover-text-light fs-16px">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-animate="fadeInUp">
                <div class="card border-0 rounded-0 banner-01 hover-zoom-in hover-shine">
                    <img class="card-img object-fit-cover"
                         width="690 "
                         height="420"
                         src="./assets/images/banner-02.jpg"
                         alt="25% off Everything" />
                    <div class="card-img-overlay d-inline-flex flex-column p-md-12 m-md-2 p-8">
                        <h3 class="card-title lh-45px fs-34px pe-15">
                            25% off Everything
                        </h3>
                        <p class="card-text fs-15px text-dark mw-md-60 pe-xl-20">
                            Makeup with extended range in colors for every human.
                        </p>
                        <div class="mt-7">
                            <a href="#"
                               class="btn btn-light border-0 btn-hover-bg-dark btn-hover-border-dark btn-hover-text-light fs-16px">Shop Sale</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-16 pb-xl-13 pb-8">
        <div class="container container-xxl">
            <div class="row gx-30px gy-30px">
                <div class="col-xl-3 col-md-6" data-animate="fadeInUp">
                    <div class="icon-box icon-box-style-1 card border-0 text-center">
                        <div class="icon-box-icon card-img fs-70px text-primary">
                            <svg class="icon">
                                <use xlink:href="#icon-box-01"></use>
                            </svg>
                        </div>
                        <div class="icon-box-content card-body">
                            <h3 class="icon-box-title card-title fs-20px mb-4 pb-2">
                                Free Shipping
                            </h3>
                            <p class="icon-box-desc card-text fs-18px mb-0">
                                Free Shipping for orders over $130
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6" data-animate="fadeInUp">
                    <div class="icon-box icon-box-style-1 card border-0 text-center">
                        <div class="icon-box-icon card-img fs-70px text-primary">
                            <svg class="icon">
                                <use xlink:href="#icon-box-02"></use>
                            </svg>
                        </div>
                        <div class="icon-box-content card-body">
                            <h3 class="icon-box-title card-title fs-20px mb-4 pb-2">
                                Returns
                            </h3>
                            <p class="icon-box-desc card-text fs-18px mb-0">
                                Within 30 days for an exchange.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6" data-animate="fadeInUp">
                    <div class="icon-box icon-box-style-1 card border-0 text-center">
                        <div class="icon-box-icon card-img fs-70px text-primary">
                            <svg class="icon">
                                <use xlink:href="#icon-box-03"></use>
                            </svg>
                        </div>
                        <div class="icon-box-content card-body">
                            <h3 class="icon-box-title card-title fs-20px mb-4 pb-2">
                                Online Support
                            </h3>
                            <p class="icon-box-desc card-text fs-18px mb-0">
                                24 hours a day, 7 days a week
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6" data-animate="fadeInUp">
                    <div class="icon-box icon-box-style-1 card border-0 text-center">
                        <div class="icon-box-icon card-img fs-70px text-primary">
                            <svg class="icon">
                                <use xlink:href="#icon-box-04"></use>
                            </svg>
                        </div>
                        <div class="icon-box-content card-body">
                            <h3 class="icon-box-title card-title fs-20px mb-4 pb-2">
                                Flexible Payment
                            </h3>
                            <p class="icon-box-desc card-text fs-18px mb-0">
                                Pay with Multiple Credit Cards
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-19 bg-gray">
        <div class="container container-xxl">
            <div class="text-center">
                <h2 class="mb-6">As seen in</h2>
            </div>
            <div class="slick-slider mt-12"
                 data-slick-options='{"slidesToShow": 3,"dots":false,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow": 2,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"dots":true}}]}'>
                <div>
                    <div class="bg-transparent text-center">
                        <img src="./assets/images/testimonial-03.png"
                             alt=""
                             class="w-auto mx-auto mb-6"
                             width="150"
                             height="82" />
                        <p class="fs-20px fw-semibold mx-xl-9 px-xl-2 mb-0 text-dark">
                            “Also the customer service is phenomenal. I would purchase
                            again.“
                        </p>
                    </div>
                </div>
                <div>
                    <div class="bg-transparent text-center">
                        <img src="./assets/images/testimonial-02.png"
                             alt=""
                             class="w-auto mx-auto mb-6"
                             width="150"
                             height="82" />
                        <p class="fs-20px fw-semibold mx-xl-9 px-xl-2 mb-0 text-dark">
                            “Great product line. Very attentive staff to deal with.“
                        </p>
                    </div>
                </div>
                <div>
                    <div class="bg-transparent text-center">
                        <img src="./assets/images/testimonial-01.png"
                             alt=""
                             class="w-auto mx-auto mb-6"
                             width="150"
                             height="82" />
                        <p class="fs-20px fw-semibold mx-xl-9 px-xl-2 mb-0 text-dark">
                            “Looking to affordably upgrade your everyday dinnerware? Look
                            no further than e.Space“
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container container-xxl pt-19 mb-2">
            <div class="text-center mb-10 mt-2 pt-1 pb-3">
                <h2 class="mb-5">Customer Favorite Beauty Essentials</h2>
                <p class="fs-18px mb-0 mw-xl-30 mw-lg-50 mw-md-75 ms-auto me-auto">
                    Made using clean, non-toxic ingredients, our products are designed
                    for everyone.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-12 mb-xl-0">
                    <div class="card border-0 rounded-0 hover-zoom-in hover-shine">
                        <img class="w-100 img-fluid lazy-image card-img object-fit-cover banner-02"
                             width="570 "
                             height="913"
                             data-src="./assets/images/banner-33.jpg"
                             alt="Empower Yourself" />
                        <div class="card-img-overlay p-12 m-2 d-inline-flex flex-column justify-content-end">
                            <h3 class="card-title mb-0 fs-40px text-white">
                                Empower Yourself
                            </h3>
                            <p class="card-text mb-0 fs-18px text-white mt-5">
                                Get the skin you want to feel
                            </p>
                            <div class="mt-10 pt-2">
                                <a href="#"
                                   class="btn btn-light btn-hover-bg-dark btn-hover-border-dark btn-hover-text-light">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row gy-11">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="card card-product grid-1 bg-transparent border-0"
                                 data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a href="#"
                                       class="hover-zoom-in d-block"
                                       title="Enriched Duo">
                                        <img data-src="./assets/images/products/product-01-330x440.jpg"
                                             class="img-fluid lazy-image w-100"
                                             alt="Enriched Duo"
                                             width="330"
                                             height="440" />
                                    </a>
                                    <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                            <svg class="icon icon-shopping-bag-open-light">
                                                <use xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                            <svg class="icon icon-arrows-left-right-light">
                                                <use xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </figure>
                                <div class="card-body text-center p-0">
                                    <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">$29</span>
                                    <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset" href="#">Enriched Duo</a>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="rate text-primary fs-14px d-flex align-items-center">
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </span>
                                        <span class="reviews ms-4">2947 reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a href="#" class="hover-zoom-in d-block" title="Shield Spray">
                                        <img data-src="./assets/images/products/product-02-330x440.jpg" class="img-fluid lazy-image w-100" alt="Shield Spray" width="330" height="440" />
                                    </a>
                                    <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                            <svg class="icon icon-shopping-bag-open-light">
                                                <use xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                            <svg class="icon icon-arrows-left-right-light">
                                                <use xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </figure>
                                <div class="card-body text-center p-0">
                                    <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">$29</span>
                                    <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset" href="#">Shield Spray</a>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="rate text-primary fs-14px d-flex align-items-center">
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </span>
                                        <span class="reviews ms-4">2947 reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a href="#" class="hover-zoom-in d-block" title="Vital Eye Cream">
                                        <img data-src="./assets/images/products/product-05-330x440.jpg" class="img-fluid lazy-image w-100" alt="Vital Eye Cream" width="330" height="440" />
                                    </a>
                                    <div class="position-absolute product-flash z-index-2">
                                        <span class="badge badge-product-flash on-sale bg-primary">-26%</span>
                                    </div>
                                    <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Add To Cart">
                                            <svg class="icon icon-shopping-bag-open-light">
                                                <use xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Quick View">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Add To Wishlist">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Compare">
                                            <svg class="icon icon-arrows-left-right-light">
                                                <use xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </figure>
                                <div class="card-body text-center p-0">
                                    <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">
                                        <del class="text-body fw-500 me-4 fs-13px">$39</del>
                                        <ins class="text-decoration-none">$29</ins>
                                    </span>
                                    <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset" href="#">Vital Eye Cream</a>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="rate text-primary fs-14px d-flex align-items-center">
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star-o">
                                                <use xlink:href="#star-o"></use>
                                            </svg>
                                            <svg class="icon star-o">
                                                <use xlink:href="#star-o"></use>
                                            </svg>
                                        </span>
                                        <span class="reviews ms-4">2947 reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a href="#" class="hover-zoom-in d-block" title="Supreme Moisture Mask">
                                        <img data-src="./assets/images/products/product-03-330x440.jpg" class="img-fluid lazy-image w-100" alt="Supreme Moisture Mask" width="330" height="440" />
                                    </a>
                                    <div class="position-absolute product-flash z-index-2">
                                        <span class="badge badge-product-flash on-sale bg-primary">-26%</span>
                                    </div>
                                    <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Add To Cart">
                                            <svg class="icon icon-shopping-bag-open-light">
                                                <use xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Quick View">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Add To Wishlist">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action"
                                           href="#"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Compare">
                                            <svg class="icon icon-arrows-left-right-light">
                                                <use xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </figure>
                                <div class="card-body text-center p-0">
                                    <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">
                                        <del class="text-body fw-500 me-4 fs-13px">$39</del>
                                        <ins class="text-decoration-none">$29</ins>
                                    </span>
                                    <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset" href="#">Supreme Moisture Mask</a>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="rate text-primary fs-14px d-flex align-items-center">
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star-o">
                                                <use xlink:href="#star-o"></use>
                                            </svg>
                                            <svg class="icon star-o">
                                                <use xlink:href="#star-o"></use>
                                            </svg>
                                        </span>
                                        <span class="reviews ms-4">2947 reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a href="#" class="hover-zoom-in d-block" title="Supreme Polishing Treatment">
                                        <img data-src="./assets/images/products/product-15-330x440.jpg" class="img-fluid lazy-image w-100" alt="Supreme Polishing Treatment" width="330" height="440" />
                                    </a>
                                    <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                            <svg class="icon icon-shopping-bag-open-light">
                                                <use xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                            <svg class="icon icon-arrows-left-right-light">
                                                <use xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </figure>
                                <div class="card-body text-center p-0">
                                    <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">$29</span>
                                    <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset" href="#">Supreme Polishing Treatment</a>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="rate text-primary fs-14px d-flex align-items-center">
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </span>
                                        <span class="reviews ms-4">2947 reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a href="#" class="hover-zoom-in d-block" title="Scalp Moisturizing Cream">
                                        <img data-src="./assets/images/products/product-06-330x440.jpg" class="img-fluid lazy-image w-100" alt="Scalp Moisturizing Cream" width="330" height="440" />
                                    </a>
                                    <div class="position-absolute d-flex z-index-2 product-actions horizontal">
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                            <svg class="icon icon-shopping-bag-open-light">
                                                <use xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-black bg-white bg-dark-hover text-light-hover rounded-circle square shadow-sm product-action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                            <svg class="icon icon-arrows-left-right-light">
                                                <use xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </figure>
                                <div class="card-body text-center p-0">
                                    <span class="d-flex align-items-center price text-black fw-bold justify-content-center mb-3 fs-16px">$29</span>
                                    <h4 class="product-title card-text text-primary-hover text-black fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset" href="#">Scalp Moisturizing Cream</a>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="rate text-primary fs-14px d-flex align-items-center">
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg class="icon star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </span>
                                        <span class="reviews ms-4">2947 reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-10 pt-23">
        <div class="container-fluid">
            <div class="w-100 m-0 slick-slider" data-slick-options='{"slidesToShow": 5,"infinite":false,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1366,"settings": {"slidesToShow":5 }},{"breakpoint": 992,"settings": {"slidesToShow":2}},{"breakpoint": 768,"settings": {"slidesToShow": 3}},{"breakpoint": 576,"settings": {"slidesToShow": 2}}]}'>
                <div class="hover-zoom-in hover-shine px-6">
                    <a href="./assets/images/instagram/instagram-01.jpg" title="instagram-01" data-gallery="instagram" class="card-img-overlay-hover hover-zoom-in hover-shine d-block">
                        <img class="lazy-image img-fluid w-100" width="314" height="314" data-src="./assets/images/instagram/instagram-01-320x320.jpg" alt="instagram-01" />
                        <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                    </a>
                </div>
                <div class="hover-zoom-in hover-shine px-6">
                    <a href="./assets/images/instagram/instagram-02.jpg" title="instagram-02" data-gallery="instagram" class="card-img-overlay-hover hover-zoom-in hover-shine d-block">
                        <img class="lazy-image img-fluid w-100" width="314" height="314" data-src="./assets/images/instagram/instagram-02-320x320.jpg" alt="instagram-02" />
                        <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                    </a>
                </div>
                <div class="hover-zoom-in hover-shine px-6">
                    <a href="./assets/images/instagram/instagram-03.jpg" title="instagram-03" data-gallery="instagram" class="card-img-overlay-hover hover-zoom-in hover-shine d-block">
                        <img class="lazy-image img-fluid w-100" width="314" height="314" data-src="./assets/images/instagram/instagram-03-320x320.jpg" alt="instagram-03" />
                        <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                    </a>
                </div>
                <div class="hover-zoom-in hover-shine px-6">
                    <a href="./assets/images/instagram/instagram-04.jpg" title="instagram-04" data-gallery="instagram" class="card-img-overlay-hover hover-zoom-in hover-shine d-block">
                        <img class="lazy-image img-fluid w-100" width="314" height="314" data-src="./assets/images/instagram/instagram-04-320x320.jpg" alt="instagram-04" />
                        <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                    </a>
                </div>
                <div class="hover-zoom-in hover-shine px-6">
                    <a href="./assets/images/instagram/instagram-05.jpg" title="instagram-05" data-gallery="instagram" class="card-img-overlay-hover hover-zoom-in hover-shine d-block">
                        <img class="lazy-image img-fluid w-100" width="314" height="314" data-src="./assets/images/instagram/instagram-05-320x320.jpg" alt="instagram-05" />
                        <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                    </a>
                </div>
                <div class="hover-zoom-in hover-shine px-6">
                    <a href="./assets/images/instagram/instagram-06.jpg" title="instagram-06" data-gallery="instagram" class="card-img-overlay-hover hover-zoom-in hover-shine d-block">
                        <img class="lazy-image img-fluid w-100" width="314" height="314" data-src="./assets/images/instagram/instagram-06-320x320.jpg" alt="instagram-06" />
                        <span class="card-img-overlay bg-dark bg-opacity-30"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>