<footer class="pt-22 pt-lg-20 pb-16 footer bg-gray-f8">
    <div class="container container-xxl pt-4">
        <div class="row">
            <div class="col-lg col-md-4 col-12 mb-11 mb-lg-0">
                <h3 class="fs-5 mb-6">Công ty</h3>
                <p class="pe-xl-18 lh-2">
                    Tìm một địa điểm gần bạn nhất. Xem 
                    <a class="" href="#"><u class="fw-medium">cửa hàng của chúng tôi</u></a>
                </p>
                <p class="mb-0 lh-2">
                    <strong class="">+0855 840 100</strong> <br /> Group3@Gmail.com
                </p>
            </div>
            <div class="col-lg col-md-4 col-12 mb-11 mb-lg-0">
                <h3 class="fs-5 mb-6">Đường dẫn tiện ích</h3>
                <ul class="list-unstyled mb-0 fw-medium">
                    <li class="pt-3 mb-4">
                        <a href="#" title="New Products" class="text-body">Sản phẩm mới</a>
                    </li>
                    <li class="pt-3 mb-4">
                        <a href="#" title="Best Sellers" class="text-body">Giảm giá đặc biệt</a>
                    </li>
                    <li class="pt-3 mb-4">
                        <a href="#" title="Bundle &amp; Save" class="text-body">Gói & Lưu</a>
                    </li>
                    <li class="pt-3 mb-4">
                        <a href="#" title="Online Gift Card" class="text-body">Thẻ quà tặng Online</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg col-md-4 col-12 mb-11 mb-lg-0">
                <h3 class="fs-5 mb-6">Thông tin</h3>
                <ul class="list-unstyled mb-0 fw-medium">
                    <li class="pt-3 mb-4">
                        <a href="#" title="Contact Us" class="text-body">Liên hệ chúng tôi</a>
                    </li>
                    <li class="pt-3 mb-4">
                        <a href="#" title="Shipping FAQ" class="text-body">Câu hỏi thường gặp về vận chuyển</a>
                    </li>
                    <li class="pt-3 mb-4">
                        <a href="#" title="Terms &amp; Conditions" class="text-body">
                            Điều khoản và điều kiện
                        </a>
                    </li>
                    <li class="pt-3 mb-4">
                        <a href="#" title="Privacy Policy" class="text-body">
                            Chính sách bảo mật
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-12 mb-14 mb-lg-0">
                <h3 class="mb-4">Good emails.</h3>
                <p class="lh-2">
                    Nhập email của bạn dưới đây để là người đầu tiên biết về các bộ sưu tập mới và ra mắt sản phẩm.
                </p>
                <form class="pt-8">
                    <div class="input-group position-relative">
                        <input type="email"
                               class="form-control bg-white rounded-left"
                               placeholder="Enter your email address" />
                        <button type="submit"
                                class="btn btn-dark bg-hover-primary border-hover-primary">
                            Đăng kí
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row align-items-center mt-0 mt-lg-20 pt-lg-4">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center order-2 order-lg-1 fs-6 mt-8 mt-lg-0">
                <p class="mb-0">© Group3 2022</p>
                <ul class="list-inline fs-18px ms-6 mb-0">
                    <li class="list-inline-item me-8">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item me-8">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item me-8">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-4 text-md-center order-1 order-lg-2">
              <a href="/">
                    <img src="~/assets/images/logoGR3-cut.png" alt="Glowing" class="img-fluid" width="192 height=28" />
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 order-3 text-sm-start text-lg-end mt-8 mt-lg-0">
                <img src="~/assets/images/footer/img_1.png" width="313" height="28" alt="Paypal" class="img-fluid" />
            </div>
        </div>
    </div>
</footer>