@model ShopMyPham.Models.Product

@{
    ViewData["Title"] = Model.Title ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

		<section class="z-index-2 position-relative pb-2 mb-14" data-animated-id="1">
    
    <div class="bg-gray-weak mb-3">
        <div class="container">
            <nav class="py-4 lh-30px" aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center py-1">
                    <li class="breadcrumb-item"><a title="Home" href="../index.html">Home</a></li>
                            <li class="breadcrumb-item"><a title="Shop" href="../shop/shop-layout-v2.html">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Natural Coconut Cleansing Oil</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="container pt-6 pb-20" data-animated-id="2">
	<div class="row ">
		<div class="col-md-6 pe-md-13">
			<div class="row">
	<div class="col-xl-2 pe-xl-0 order-1 order-xl-0 mt-5 mt-xl-0">
		<div id="vertical-slider-thumb" class="slick-slider slick-slider-thumb ps-1 ms-n3 me-n4 mx-xl-0 slick-initialized slick-vertical" data-slick-options="{&quot;arrows&quot;:false,&quot;asNavFor&quot;:&quot;#vertical-slider-slides&quot;,&quot;dots&quot;:false,&quot;focusOnSelect&quot;:true,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1260,&quot;settings&quot;:{&quot;vertical&quot;:false}}],&quot;slidesToShow&quot;:4,&quot;vertical&quot;:true}"><div class="slick-list draggable" style="height: 487.312px;"><div class="slick-track" style="opacity: 1; height: 488px; transform: translate3d(0px, 0px, 0px);"><img src="../assets/images/shop/product-gallery-05-154x205.jpg" class="mx-3 mx-xl-0 px-0 mb-xl-7 slick-slide slick-current slick-active" width="75" height="100" title="" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 77px;"><img src="../assets/images/shop/product-gallery-06-154x205.jpg" class="mx-3 mx-xl-0 px-0 mb-xl-7 slick-slide slick-active" width="75" height="100" title="" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 77px;"><img src="../assets/images/shop/product-gallery-07-154x205.jpg" class="mx-3 mx-xl-0 px-0 mb-xl-7 slick-slide slick-active" width="75" height="100" title="" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 77px;"><div class="position-relative mx-3 mx-xl-0 px-0 mb-xl-7 slick-slide slick-active" width="75" height="100" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 77px;">
						<img src="../assets/images/shop/product-gallery-08-154x205.jpg" class="w-100" alt="product gallery">
						<div class="card-img-overlay d-inline-flex flex-column align-items-center justify-content-center">
							<div class="d-flex justify-content-center align-items-center rounded-circle product-gallery-video-thumb text-dark bg-white">
								<i class="fas fa-play"></i>
							</div>
						</div>
					</div></div></div></div>
	</div>
	<div class="col-xl-10 ps-xl-8 pe-xl-0 order-0 order-xl-1">
		<div id="vertical-slider-slides" class="slick-slider slick-slider-arrow-inside slick-slider-dots-inside slick-slider-dots-light g-0 slick-initialized" data-slick-options="{&quot;arrows&quot;:false,&quot;asNavFor&quot;:&quot;#vertical-slider-thumb&quot;,&quot;dots&quot;:false,&quot;fade&quot;:true,&quot;slidesToShow&quot;:1}"><div class="slick-list draggable" style="height: 589.328px;"><div class="slick-track" style="opacity: 1; width: 1768px;"><a href="../assets/images/shop/product-gallery-05.jpg" data-gallery="product-gallery" class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 442px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><img src="../assets/images/shop/product-gallery-05.jpg" width="540" height="720" title="" class="h-auto"></a><a href="../assets/images/shop/product-gallery-06.jpg" data-gallery="product-gallery" class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 442px; position: relative; left: -442px; top: 0px; z-index: 998; opacity: 0;"><img src="../assets/images/shop/product-gallery-06.jpg" width="540" height="720" title="" class="h-auto"></a><a href="../assets/images/shop/product-gallery-07.jpg" data-gallery="product-gallery" class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 442px; position: relative; left: -884px; top: 0px; z-index: 998; opacity: 0;"><img src="../assets/images/shop/product-gallery-07.jpg" width="540" height="720" title="" class="h-auto"></a><div class="position-relative slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 442px; position: relative; left: -1326px; top: 0px; z-index: 998; opacity: 0;">
						<img src="../assets/images/shop/product-gallery-08.jpg" width="540" height="720" title="" class="h-auto">
						<div class="card-img-overlay d-inline-flex flex-column align-items-center justify-content-center">
							<a href="https://www.youtube.com/watch?v=6v2L2UGZJAM" class="view-video d-flex justify-content-center align-items-center rounded-circle product-gallery-video btn btn-light btn-hover-bg-gray border-0 text-dark text-decoration-none" tabindex="-1">
								<i class="fas fa-play"></i>
							</a>
						</div>
					</div></div></div></div>
	</div>
</div>
		</div>
		<div class="col-md-6 pt-md-0 pt-10">
            <p class="d-flex align-items-center mb-6">
			<span class="text-decoration-line-through">39.00</span>
		<span class="fs-18px text-dark ps-6 fw-bold">29.00</span>
	<span class="badge text-bg-primary fs-16px fw-semibold ms-7 px-6 py-3">20%</span>
</p>
	<h4 class="mb-4 pb-2">
        Natural Coconut Cleansing Oil
	</h4>
<div class="d-flex align-items-center fs-15px mb-6">
		<p class="mb-0 fw-semibold text-dark">4.86</p>
	<ul class="list-inline d-flex mb-0 px-6 rating-result">
		<li class="list-inline-item me-0 fs-12px">
			<i class="fas fa-star"></i>
		</li>
		<li class="llist-inline-item me-0 fs-12px">
			<i class="fas fa-star"></i>
		</li>
		<li class="list-inline-item me-0 fs-12px">
			<i class="fas fa-star"></i>
		</li>
		<li class="list-inline-item me-0 fs-12px">
			<i class="fas fa-star"></i>
		</li>
		<li class="llist-inline-item me-0 fs-12px">
			<i class="fas fa-star"></i>
		</li>
	</ul>
		<a href="#" class="border-start border-1 ps-6 text-body">Read 2947 reviews</a>
</div>
	<p class="fs-15px">Niacinamide and Vitamin C are two anti-aging superstars but not usually formulated together because of their different pH levels.</p>


<form>
    <div class="form-group shop-swatch mb-7 d-flex align-items-center">
	<span class="fw-semibold text-dark me-7">Size: </span>
	<ul class="list-inline d-flex justify-content-start mb-0">
			<li class="list-inline-item me-4 fw-semibold">
				<input type="radio" id="radio1" name="radio" class="product-info-size d-none" checked="">
				<label for="radio1" class="fs-14px p-4 d-block rounded text-decoration-none border" data-var="full size">Full size</label>
			</li>
			<li class="list-inline-item me-4 fw-semibold">
				<input type="radio" id="radio2" name="radio" class="product-info-size d-none">
				<label for="radio2" class="fs-14px p-4 d-block rounded text-decoration-none border" data-var="full size">Mini size</label>
			</li>

	</ul>
</div>

	<p class="text-dark fw-semibold mb-6">Quantity: </p>
		<div class="mb-2 pb-4">
			<input type="radio" id="buy1" name="quality" class="product-info-input me-4" checked="">
			<label for="buy1" class="text-dark product-info-label product-info-label-secondary">
				Buy 1 -
				<span class="text-decoration-line-through mx-3 text-body">$39.00</span>
				<span class="fw-bold">$29.00</span>
			</label>
			<span class="badge badge-primary fs-12px border text-primary fw-bold ms-4">Saved 10%</span>
		</div>
		<div class="mb-2 pb-4">
			<input type="radio" id="buy2" name="quality" class="product-info-input me-4">
			<label for="buy2" class="text-dark product-info-label product-info-label-secondary">
				Buy 2 -
				<span class="text-decoration-line-through mx-3 text-body">$78.00</span>
				<span class="fw-bold">$56.00</span>
			</label>
			<span class="badge badge-primary fs-12px border text-primary fw-bold ms-4">Saved 15%</span>
		</div>
		<div class="mb-2 pb-4">
			<input type="radio" id="buy3" name="quality" class="product-info-input me-4">
			<label for="buy3" class="text-dark product-info-label product-info-label-secondary">
				Buy 3 -
				<span class="text-decoration-line-through mx-3 text-body">$117.00</span>
				<span class="fw-bold">$72.00</span>
			</label>
			<span class="badge badge-primary fs-12px border text-primary fw-bold ms-4">Saved 20%</span>
		</div>
		<div class="mb-2 pb-4">
			<input type="radio" id="buy4" name="quality" class="product-info-input me-4">
			<label for="buy4" class="text-dark product-info-label product-info-label-secondary">
				Buy 4 -
				<span class="text-decoration-line-through mx-3 text-body">$195.00</span>
				<span class="fw-bold">$99.00</span>
			</label>
			<span class="badge badge-primary fs-12px border text-primary fw-bold ms-4">Saved 30%</span>
		</div>
	<button type="submit" class="btn btn-lg fs-18px btn-dark btn-block mb-7 mt-7 border-0 w-100 btn-hover-bg-primary">Add
		To Bag
	</button>
</form>
<div class="d-flex align-items-center flex-wrap">
		<a href="#" class="text-decoration-none fw-bold fs-16px me-9 pe-2 d-flex align-items-center">
			<svg class="icon fs-20px">
				<use xlink:href="#icon-arrows-left-right-light"></use>
			</svg>
			<span class="ms-4 ps-2">Compare</span>
		</a>
		<a href="#" class="text-decoration-none fw-bold fs-16px me-9 pe-2 d-flex align-items-center">
			<svg class="icon fs-20px">
				<use xlink:href="#icon-heart-light"></use>
			</svg>
			<span class="ms-4 ps-2">Add to wishlist</span>
		</a>
</div>

<ul class="list-unstyled border-top pt-7 mt-7">
		<li class="d-flex mb-4 pb-2">
			<span class="text-dark fw-semibold fs-14px">Sku:</span>
			<span class="ps-4">SF09281</span>
		</li>
		<li class="d-flex mb-4 pb-2">
			<span class="text-dark fw-semibold fs-14px">Categories:</span>
			<span class="ps-4">Makeup, Skincare</span>
		</li>
		<li class="d-flex mb-4 pb-2">
			<span class="text-dark fw-semibold fs-14px">Share:</span>
			<ul class="list-inline d-flex align-items-center mb-0 col-8 col-lg-10 ps-4">
				<li class="list-inline-item me-7">
					<a href="#" class="fs-14px text-body product-info-share">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="list-inline-item me-7">
					<a href="#" class="fs-14px text-body product-info-share">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li class="list-inline-item me-7">
					<a href="#" class="fs-14px text-body product-info-share">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="fs-14px text-body product-info-share">
						<i class="fab fa-youtube"></i>
					</a>
				</li>
			</ul>
		</li>
</ul>
		</div>
	</div>
</section>

