
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="py-lg-13 pb-10 pt-0" data-animated-id="1">
        <div class="container container-xl">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img src="~/assets/images/Countdown-01.png" alt="about us">
                    </div>
                </div>
                <div class="col-lg-6 px-xxl-12 mt-lg-0 mt-8">
                    <h1 class="fs-40 lh-13 mb-5 fadeInUp animated" data-animate="fadeInUp">Về Beauty Comestics GR3</h1>
                    <p class="mb-4 fadeInUp animated" data-animate="fadeInUp">
                    Kem nền tự nhiên hoàn thiện làn da được làm giàu với các siêu trái cây chống oxy hóa, vitamin và các chất dinh dưỡng nuôi dưỡng da khác. Công thức dạng kem lỏng tạo nên lớp nền mờ nguyên sơ cho làn da mềm mại, mịn màng như nhung. Được làm bằng các nguyên liệu sạch, không độc hại, các sản phẩm của chúng tôi được thiết kế dành cho tất cả mọi người...
                    </p>
                    <p class="mb-6 mb-xl-10 mb-xxl-11 fadeInUp animated" data-animate="fadeInUp">
                    Nếu tôi yêu một người phụ nữ vì lý do nghệ thuật, hoặc từ quan điểm công việc của tôi, tôi nghĩ điều đó sẽ cướp đi của cô ấy một thứ gì đó. Chúng ta đang sống trong thời đại toàn cầu hóa và thời đại của người phụ nữ. Chưa bao giờ trong lịch sử thế giới, phụ nữ lại kiểm soát được vận mệnh của mình nhiều hơn thế.</span>
                    </p>
                    <div class="row">
                        <div class="col-md-6 fadeInUp animated" data-animate="fadeInUp">
                            <h4 class="fs-20 font-weight-600 mb-3">Nhắn tin</h4>
                        <p class="mb-2 mb-md-4">Gửi tin nhắn cho chúng tôi và chúng tôi sẽ trả lời khi có sẵn..</p>
                            <p class="fs-16 text-primary font-weight-bold mb-0">+84 855 840 100</p>
                        </div>
                        <div class="col-md-6 pt-6 pt-md-0 fadeInUp animated" data-animate="fadeInUp">
                            <h4 class="fs-20 font-weight-600 mb-3">Store Hours</h4>
                            <ul class="list-unstyled mb-0">
                                <li><span class="text-secondary d-inline-block w-115">Mon – Fri:</span> 08:30 – 20:00</li>
                                <li><span class="text-secondary d-inline-block w-115">Sat &amp; Sun:</span> 09:30 – 21:30</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-lg-13 pt-10 pb-lg-12 pb-11" data-animated-id="4">
        <div class="container container-xxl text-center">
        <h2 class="fs-34 mx-auto mb-6 fadeInUp animated" style="max-width: 620px" data-animate="fadeInUp">Chúng tôi cố gắng sống với lòng trắc ẩn, lòng tốt và sự đồng cảm</h2>
        <p class="mb-8 mx-auto fadeInUp animated" style="max-width: 610px;" data-animate="fadeInUp">"Khi ngồi bên cạnh một người phụ nữ đẹp nóng bỏng trong 1 giờ đồng hồ, người đàn ông cảm thấy như thời gian mới chỉ trôi qua trong vòng 1 phút. Nhưng nếu ngồi bên một lò lửa nóng một phút, họ lại cảm thấy lâu hơn cả một giờ."</p>
        <div class=" my-15">
            <div class="row">
                <div class="col-12 col-lg-6 mb-6 mb-lg-0">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img class="w-100" src="~/assets/images/banner-14.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img class="w-100" src="~/assets/images/banner-13.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <h1 class="fs-40 lh-13 my-15 fadeInUp animated" data-animate="fadeInUp">Người đồng sáng lập</h1>

        <div class="slick-initialized slick-slider" data-slick-options="{&quot;slidesToShow&quot;: 4,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;: 1200,&quot;settings&quot;: {&quot;slidesToShow&quot;: 3,&quot;arrows&quot;:false,&quot;dots&quot;:true}},{&quot;breakpoint&quot;: 768,&quot;settings&quot;: {&quot;slidesToShow&quot;: 2,&quot;arrows&quot;:false,&quot;dots&quot;:true}},{&quot;breakpoint&quot;: 576,&quot;settings&quot;: {&quot;slidesToShow&quot;: 1,&quot;arrows&quot;:false,&quot;dots&quot;:true}}]}">
            <div class="slick-list draggable" >
                <div class="slick-track" style="opacity: 1; width: 1440px; transform: translate3d(0px, 0px, 0px);">
                    <div class="box slick-slide slick-current slick-active" style="width: 360px;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" data-slick-index="0" aria-hidden="false">
                        <div class="card border-0 hover-change-image fadeInUp animated" data-animate="fadeInUp">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img" src="images/duyhao.jpg" alt="Slava Fedutik">
                                <ul class="list-inline text-center bg-gray w-100 hover-image hover-bottom-to-top mt-n11 px-7 py-5">
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body px-0">
                                <h4 class="fs-20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phan Duy Hào</font></font></h4>
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Người sáng lập, Giám đốc</font></font></p>
                            </div>
                        </div>
                    </div><div class="box slick-slide slick-active" style="width: 360px;" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" data-slick-index="1" aria-hidden="false">
                        <div class="card border-0 hover-change-image fadeInUp animated" data-animate="fadeInUp">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img" src="images/hai1.jpg" alt="Jennifer C.">
                                <ul class="list-inline text-center bg-gray w-100 hover-image hover-bottom-to-top mt-n11 px-7 py-5">
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body px-0">
                                <h4 class="fs-20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phan Thị Hải</font></font></h4>
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Người đồng sáng lập</font></font></p>
                            </div>
                        </div>
                    </div><div class="box slick-slide slick-active" style="width: 360px;" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" data-slick-index="2" aria-hidden="false">
                        <div class="card border-0 hover-change-image fadeInUp animated" data-animate="fadeInUp">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img" src="images/ha1.jpg" alt="Valeriia Nadopta">
                                <ul class="list-inline text-center bg-gray w-100 hover-image hover-bottom-to-top mt-n11 px-7 py-5">
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body px-0">
                                <h4 class="fs-20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trần Thị Thu Hà</font></font></h4>
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Người đồng sáng lập</font></font></p>
                            </div>
                        </div>
                    </div><div class="box slick-slide slick-active" style="width: 360px;" tabindex="0" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03" data-slick-index="3" aria-hidden="false">
                        <div class="card border-0 hover-change-image fadeInUp animated" data-animate="fadeInUp">
                            <div class="position-relative overflow-hidden">
                                <img class="card-img" src="images/duyen1.jpg" alt="John Henry">
                                <ul class="list-inline text-center bg-gray w-100 hover-image hover-bottom-to-top mt-n11 px-7 py-5">
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-facebook"></i></a></li>
                                    <li class="list-inline-item mr-6"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="fs-18" tabindex="0"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body px-0">
                                <h4 class="fs-20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dương Thị Mỹ Duyên</font></font></h4>
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Người đồng sáng lập</font></font></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
