@model ShopMyPham.Models.News

@{
    ViewData["Title"] = "Chỉnh sửa tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
               <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home me-2"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminNews" asp-action="Index" class="breadcrumb-item">Danh sách Tin tức</a>
            <span class="breadcrumb-item active">Chỉnh sửa tin tức : @Model.Title</span>
            </nav>
        </div>
    </div>
<form asp-controller="AdminNews" asp-route-id="@Model.PostId" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostId" />
    <input type="hidden" asp-for="Thumb" />
    <input type="hidden" asp-for="CreateDate" />

    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex mt-3 align-items-center justify-content-between">
            <div class="mt-3">
                <button class="btn btn-primary mb-3">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu thay đổi</span>
                </button>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active fw-semibold text-uppercase" id="product-edit-basic-tab" data-bs-toggle="tab" data-bs-target="#product-edit-basic" type="button" role="tab" aria-controls="product-edit-basic" aria-selected="true">Thông tin bài viết</button>
                <button class="nav-link fw-semibold text-uppercase" id="product-edit-option-tab" data-bs-toggle="tab" data-bs-target="#product-edit-option" type="button" role="tab" aria-controls="product-edit-option" aria-selected="false">Thông tin thiết lập</button>
                <button class="nav-link fw-semibold text-uppercase" id="product-edit-description-tab" data-bs-toggle="tab" data-bs-target="#product-edit-description" type="button" role="tab" aria-controls="product-edit-description" aria-selected="false">Mô tả</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="product-edit-basic" role="tabpanel" aria-labelledby="product-edit-basic-tab" tabindex="0">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="fw-semibold" for="productName">Tiêu đề</label>
                            <input type="text" class="form-control" asp-for="Title">
                        </div>
                        <div class="form-group mt-3">
                            <label class="fw-semibold" for="productBrand">Ảnh đại diện</label>
                            <br />
                            <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb" />
                            <span asp-validation-for="Thumb" class="text-danger"></span>
                        </div>
                        <div class="row mt-3">
                            <div class="mt-4">
                                <!---->
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" asp-for="Published" role="switch"  >
                                    <label class="form-check-label" for="Published">Public </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" asp-for="IsHot" role="switch" >
                                    <label class="form-check-label" for="IsHot">IsHot</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" asp-for="IsNewFeed" role="switch"  >
                                    <label class="form-check-label" for="IsNewFeed">IsNewFeed </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="product-edit-option" role="tabpanel" aria-labelledby="product-edit-option-tab" tabindex="0">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="form-group">
                            <label class="fw-semibold" for="productColors">MetaDesc</label>
                            <input type="text" class="form-control" asp-for="MetaDesc">
                        </div>
                        <div class="form-group">
                            <label class="fw-semibold" for="productFit">MetaKey</label>
                            <input type="text" class="form-control" asp-for="MetaKey">
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="product-edit-description" role="tabpanel" aria-labelledby="product-edit-description-tab" tabindex="0">
                <div class="card">
                    <div class="card-body mt-3 ">
                        <textarea class="summernote w-100" asp-for="MaxDesc"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-controller="AdminNews" asp-action="Index">Back to List</a>
</div>
<script>

    jQuery(document).ready(function () {
        $('.summernote').summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
            styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
            height: 200,
            minHeight: null,
            maxHeight: null,
            focus: true
        });
    });
</script>

















<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDesc" class="control-label"></label>
                <input asp-for="ShortDesc" class="form-control" />
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDesc" class="control-label"></label>
                <input asp-for="MaxDesc" class="form-control" />
                <span asp-validation-for="MaxDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CateId" class="control-label"></label>
                <select asp-for="CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                <span asp-validation-for="CateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsHot" class="control-label"></label>
                <input asp-for="IsHot" class="form-control" />
                <span asp-validation-for="IsHot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsNewFeed" class="control-label"></label>
                <input asp-for="IsNewFeed" class="form-control" />
                <span asp-validation-for="IsNewFeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKey" class="control-label"></label>
                <input asp-for="MetaKey" class="form-control" />
                <span asp-validation-for="MetaKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDesc" class="control-label"></label>
                <input asp-for="MetaDesc" class="form-control" />
                <span asp-validation-for="MetaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
