
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

		<section id="about_introduction" class="bg-image entered loaded" data-bg-src="~/assets/images/bg-about-01.jpg" data-animated-id="1" data-ll-status="loaded" style="background-image: url(&quot;~/assets/images/bg-about-01.jpg&quot;);">

	<div class="container py-25">
		<p class="fw-semibold ls-15 text-uppercase text-black mb-7 mt-16">Introducing</p>
		<h2 class="fs-56px mb-7">About Glowing</h2>
	</div>
</section>
<section data-animated-id="2">

	<div class="container pt-17 pb-20 mb-4">
		<div class="text-center pb-17 mb-3">
			<img data-src="~/assets/images/image-box-01.jpg" alt="other-02" class="img-fluid m-auto loaded" width="150" height="158" loading="lazy" src="~/assets/images/image-box-01.jpg" data-ll-status="loaded">
			<h3 class="mw-xl-50 mw-lg-60 mx-lg-auto mb-8">We strive to live with compassion, kindness and empathy</h3>
			<p class="mw-xl-60 mw-lg-75 mx-lg-auto mb-0">A lot of so-called stretch denim pants out there are just glorified sweatpants – they get baggy and lose their shape. Not cool. Our tightly knitted fabric holds its form after repeated wear. Plus, Aldays dress up or down, no prob. So you can wear them all day. Get it?</p>
		</div>
		<div class="row mb-18 pb-3 align-items-center">
			<div class="col-lg-6 pe-lg-0">
				<div class="card border-0 hover-zoom-in rounded-0">
	<div class="image-box-4">
		<img data-src="~/assets/images/banner-11.jpg" width="960" height="640" class="img-fluid w-100 loaded" loading="lazy" src="~/assets/images/banner-11.jpg" data-ll-status="loaded">
	</div>
	<div class="d-none">
	</div>
</div>

			</div>
			<div class="col-lg-6 px-lg-12 ps-xl-18 pe-xl-20 mt-12 mt-lg-0">
				<h3 class="mb-8">Give your skin a healthy glow everyone</h3>
				<p class="mb-0">Luxe, lightweight, and made with the perfect blend of cashmere and cotton, our Sonoma Pillows and Throws are inspired by the basics we turn to season after season. Get to know the cozy essentials that will elevate your space in an instant.</p>
			</div>
		</div>

		<div class="row align-items-center">
			<div class="col-lg-6 ps-lg-0 order-lg-1">
				<div class="card border-0 hover-zoom-in rounded-0">
	<div class="image-box-4">
		<img data-src="~/assets/images/banner-12.jpg" width="960" height="640" class="img-fluid w-100 loaded" loading="lazy" src="~/assets/images/banner-12.jpg" data-ll-status="loaded">
	</div>
	<div class="d-none">
	</div>
</div>

			</div>
			<div class="col-lg-6 mt-12 mt-lg-0 ps-xl-15 pe-xl-20 px-lg-12">
				<h3 class="mb-8">Our misstion</h3>
				<p class="mb-0">Luxe, lightweight, and made with the perfect blend of cashmere and cotton, our Sonoma Pillows and Throws are inspired by the basics we turn to season after season. Get to know the cozy essentials that will elevate your space in an instant.</p>
			</div>

		</div>
	</div>
</section>
<section class="bg-gray pt-xl-18 py-16" data-animated-id="3">

	<div class="container container-xxl">
		<div id="section-01" class="slick-slider slick-initialized" data-slick-options="{&quot;slidesToShow&quot;: 1,&quot;dots&quot;:false,&quot;arrows&quot;:false, &quot;asNavFor&quot;: &quot;#section-02&quot;}">
			<div class="slick-list draggable" style="height: 142.375px;"><div class="slick-track" style="opacity: 1; width: 8640px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 1440px;">
				<h4 class="mw-lg-50 w-md-70 mx-auto mb-md-16 mb-12 text-center">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
			</div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 1440px;">
				<h4 class="mw-lg-50 w-md-70 mx-auto mb-md-16 mb-12 text-center">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”	</h4>
			</div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 1440px;">
				<h4 class="mw-lg-50 w-md-70 mx-auto mb-md-16 mb-12 text-center">“ Amazing product. The results are so transformative in texture and my face feels plump and healthy. Highly recommend! “</h4>
			</div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 1440px;">
				<h4 class="mw-lg-50 w-md-70 mx-auto mb-md-16 mb-12 text-center">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
			</div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 1440px;">
				<h4 class="mw-lg-50 w-md-70 mx-auto mb-md-16 mb-12 text-center">“ Great tags, Millie has got used to it, nothing like the old tin tags of years gone by. Light weight and great colours available.”</h4>
			</div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 1440px;">
				<h4 class="mw-lg-50 w-md-70 mx-auto mb-md-15 mb-12 text-center">“ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”</h4>
			</div></div></div>





		</div>
		<div id="section-02" class="container client-logo mx-auto slick-slider slider-nav-thumb client-logo-slider slick-initialized" data-slick-options="{&quot;arrows&quot;:false,&quot;asNavFor&quot;:&quot;#section-01&quot;,&quot;dots&quot;:false,&quot;focusOnSelect&quot;:true,&quot;responsive&quot;:[{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;dots&quot;:true,&quot;slidesToShow&quot;:4}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;dots&quot;:true,&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:576,&quot;settings&quot;:{&quot;dots&quot;:true,&quot;slidesToShow&quot;:2}}],&quot;slidesToShow&quot;:6}">

		<div class="slick-list draggable" style="height: 82px;"><div class="slick-track" style="opacity: 1; width: 1170px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 195px;">
			<div class=" content-client">
				<img data-src="~/assets/images/client-logo/client-logo-01.png" alt="goodness" class="img-client-logo img-fluid card-img opacity-hover-10 loaded" loading="lazy" src="~/assets/images/client-logo/client-logo-01.png" data-ll-status="loaded">
			</div>
		</div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 195px;">
			<div class=" content-client">
				<img data-src="~/assets/images/client-logo/client-logo-02.png" alt="grandgolden" class="img-client-logo img-fluid card-img opacity-hover-10 loaded" loading="lazy" src="~/assets/images/client-logo/client-logo-02.png" data-ll-status="loaded">
			</div>
		</div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 195px;">
			<div class=" content-client">
				<img data-src="~/assets/images/client-logo/client-logo-03.png" alt="parker" class="img-client-logo img-fluid card-img opacity-hover-10 loaded" loading="lazy" src="~/assets/images/client-logo/client-logo-03.png" data-ll-status="loaded">
			</div>
		</div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 195px;">
			<div class=" content-client">
				<img data-src="~/assets/images/client-logo/client-logo-04.png" alt="thebeast" class="img-client-logo img-fluid card-img opacity-hover-10 loaded" loading="lazy" src="~/assets/images/client-logo/client-logo-04.png" data-ll-status="loaded">
			</div>
		</div><div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="0" style="width: 195px;">
			<div class=" content-client">
				<img data-src="~/assets/images/client-logo/client-logo-05.png" alt="hayden" class="img-client-logo img-fluid card-img opacity-hover-10 loaded" loading="lazy" src="~/assets/images/client-logo/client-logo-05.png" data-ll-status="loaded">
			</div>
		</div><div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false" tabindex="0" style="width: 195px;">
			<div class=" content-client">
				<img data-src="~/assets/images/client-logo/client-logo-06.png" alt="goodmood" class="img-client-logo img-fluid card-img opacity-hover-10 loaded" loading="lazy" src="~/assets/images/client-logo/client-logo-06.png" data-ll-status="loaded">
			</div>
		</div></div></div>











</div>

	</div>
</section>
<section class="pt-16 pb-18" data-animated-id="4">

	<div class="container">
		<div class="text-center mx-auto w-xl-40 w-lg-50 mb-15">
			<h3 class="fs-3">
				We pride ourselves on have a team of highly skilled
			</h3>
		</div>
		<div class="slick-slider mx-xl-n11 slick-initialized" data-slick-options="{&quot;slidesToShow&quot;: 3,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;: 768,&quot;settings&quot;: {&quot;slidesToShow&quot;: 2,&quot;arrows&quot;:false,&quot;dots&quot;:true}},{&quot;breakpoint&quot;: 576,&quot;settings&quot;: {&quot;slidesToShow&quot;: 1,&quot;arrows&quot;:false,&quot;dots&quot;:true}}]}">
			<div class="slick-list draggable" style="height: 549.25px;"><div class="slick-track" style="opacity: 1; width: 1251px; transform: translate3d(0px, 0px, 0px);"><div class="px-xl-11 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 417px;">
				<div class="card border-0 hover-change-image ">
	<div class="position-relative overflow-hidden">
		<img class="card-img img-fluid lazy-image" src="~/assets/images/our-team-01.jpg" width="377" height="446" alt="Slava Fedutik" loading="lazy" data-ll-status="native">
		<div class="card-img-overlay border-0 d-flex flex-column p-0 justify-content-end align-items-center">
			<ul class="list-inline text-center bg-gray w-100 hover-image hover-bottom-to-top m-0 px-7 py-5">
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-twitter"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-facebook"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-instagram"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-youtube"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="card-body px-0 py-7 text-start"><h4 class="">
			<a href="#" class="text-decoration-none" tabindex="0">Slava Fedutik</a>
		</h4><p class="card-text">- Founder, Chief Creative</p>
	</div>
</div>

			</div><div class="px-xl-11 slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 417px;">
				<div class="card border-0 hover-change-image ">
	<div class="position-relative overflow-hidden">
		<img class="card-img img-fluid lazy-image" src="~/assets/images/our-team-02.jpg" width="377" height="446" alt="Jennifer C." loading="lazy" data-ll-status="native">
		<div class="card-img-overlay border-0 d-flex flex-column p-0 justify-content-end align-items-center">
			<ul class="list-inline text-center bg-gray w-100 hover-image hover-bottom-to-top m-0 px-7 py-5">
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-twitter"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-facebook"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-instagram"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-youtube"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="card-body px-0 py-7 text-start"><h4 class="">
			<a href="#" class="text-decoration-none" tabindex="0">Jennifer C.</a>
		</h4><p class="card-text">- Founder, CEO</p>
	</div>
</div>

			</div><div class="px-xl-11 slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 417px;">
				<div class="card border-0 hover-change-image ">
	<div class="position-relative overflow-hidden">
		<img class="card-img img-fluid lazy-image" src="~/assets/images/our-team-03.jpg" width="377" height="446" alt="Valeriia Nadopta" loading="lazy" data-ll-status="native">
		<div class="card-img-overlay border-0 d-flex flex-column p-0 justify-content-end align-items-center">
			<ul class="list-inline text-center bg-gray w-100 hover-image hover-bottom-to-top m-0 px-7 py-5">
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-twitter"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-facebook"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-instagram"></i></a></li>
				<li class="list-inline-item mx-6"><a href="#" class="fs-18px" tabindex="0"><i class="fab fa-youtube"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="card-body px-0 py-7 text-start"><h4 class="">
			<a href="#" class="text-decoration-none" tabindex="0">Valeriia Nadopta</a>
		</h4><p class="card-text">- Founder, C0O</p>
	</div>
</div>

			</div></div></div>


		</div>
	</div>
</section>



